@use 'styles/colors' as *;

.player-card {
  padding: 5px;
  background-color: $tq-blue-lighter;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  .avatar-wrapper {
    width: 5%;
    margin-right: 10px;
  }

  .avatar {
    border-radius: 50%;
  }

  .pseudo {
    cursor: pointer;
    width: 25%;
    color: $tq-blue-dark;
    font-size: 16px;
    font-weight: bold;
  }

  .played-games {
    width: 15%;
    color: $tq-blue-dark;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;

    b {
      color: $tq-blue-light;
    }
  }

  .last-played-game-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .played-game-label {
    color: $tq-blue-dark;
    font-size: 12px;
  }

  .last-game-title-platform {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .game-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: $tq-blue-dark;
  }

  .trophy-count {
    width: 30%;
  }
}


