<div class="player-card">
    <div class="avatar-wrapper">
        <img [height]="50" [width]="50" alt="" class="avatar" ngSrc="{{ playerSearchItem().avatar }}"/>
    </div>
    <a (click)="clickOnPseudo.emit()" class="pseudo tq-link">{{ playerSearchItem().pseudo }}</a>
    <div class="played-games">
        <b>{{ playerSearchItem().totalPlayedTrophySets }}</b>
        <span>games</span>
    </div>
    <div class="last-played-game-wrapper">
        <span class="played-game-label">Last game played</span>
        <div class="last-game-title-platform">
            <a (click)="clickOnGame.emit()"
               class="game-title tq-link">{{ playerSearchItem().lastPlayedTrophySetTitle }}</a>
            <tq-platform-label [platform]="playerSearchItem().lastPlayedTrophySetPlatform"/>
        </div>
    </div>
    <tq-trophy-count-displayer [labelOrientation]="'vertical'"
                               [textSizePx]="12"
                               [iconSizePx]="16"
                               [trophyCount]="trophyCount()"
                               class="trophy-count"/>
</div>
