@use "styles/colors" as *;

.home-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.summary-item {
  font-size: 25px;
  font-weight: bold;
  color: $tq-blue-medium;
}
