@use 'styles/colors' as *;

.home-trophy-card {
  padding: 10px;
  margin: 2px;
  background-color: $tq-blue-lighter;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .trophy-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-title-game {
    display: flex;
    align-items: center;
  }

  .trophy-image {
    border-radius: 5px;
    border: 1px solid $tq-blue-medium;
  }

  .title-game {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .trophy-title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .game-title {
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.54);
  }

  .icon-and-earned-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .trophy-earned-date {
    font-size: 0.6rem;
    color: rgb(0, 0, 0, 0.54);
  }

  .user-infos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-avatar {
    border-radius: 50%;
    border: 1px solid $tq-blue-medium;
  }

  .player-pseudo {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: $tq-blue-medium;
    font-weight: 600;
  }

}