<tq-trophyquest-block>
    <ng-template tqBlockHeader>
        <span class="summary-title">TrophyQuest</span>
    </ng-template>
    <ng-template tqBlockContent>
        @if (isLoading()) {
            <mat-spinner/>
        } @else if (hasFailed()) {
            <tq-error-message [errorMessage]="'Failed to load summary'"/>
        } @else {
            <div class="summary-stats">
                <div class="summary-item">
                    <span class="stat">{{ nbGames() }}</span>
                    <span class="label">games</span>
                </div>
                <div class="summary-item">
                    <span class="stat">{{ nbPlayers() }}</span>
                    <a class="label tq-link" (click)="clickOnPlayers.emit()">players</a>
                </div>
                <div class="summary-item">
                    <span class="stat">{{ nbTrophies() | number }}</span>
                    <span class="label">trophies</span>
                </div>
            </div>
        }
    </ng-template>
</tq-trophyquest-block>