.collection-page {
  padding-top: 20px;
  padding-bottom: 50px;

  .collection-header {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .collection-summary {
    width: 100%;
  }

  .trophy-filters {
    width: 100%;
  }

  .game-group-name {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .trophy-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-page-trophy-card {
    width: 100%;
  }

  .trophy-separator {
    color: rgba(0, 0, 0, 0.54);
    margin: 5px;
    width: 95%;
  }

}
