<div class="home-page container container-fluid">
    <div class="left-column">
        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">TrophyQuest</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (isLoadingSummary()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingSummary()) {
                    <app-error-message [errorMessage]="'Failed to load summary'"/>
                } @else {
                    <app-home-summary class="home-summary" [nbGames]="totalGames()"
                                      [nbPlayers]="totalPlayers()"
                                      [nbTrophies]="totalEarnedTrophies()"/>
                }
            </ng-template>
        </app-trophyquest-block>

        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">Most popular games this week</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (isLoadingGames()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingGames()) {
                    <app-error-message [errorMessage]="'Failed to load games'"/>
                } @else {
                    @for (game of popularGames(); track game.id) {
                        <app-home-game-card [game]="game" class="home-game-card"/>
                    }
                }
            </ng-template>
        </app-trophyquest-block>
    </div>

    <div class="right-column">
        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">Recent players</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (isLoadingPlayers()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingPlayers()) {
                    <app-error-message [errorMessage]="'Failed to load players'"/>
                } @else {
                    @for (recentPlayer of recentPlayers(); track recentPlayer.player.id) {
                        <app-section-list>
                            <ng-template appSectionListHeader>
                                <app-home-player-card [player]="recentPlayer.player"
                                                      [trophyCount]="recentPlayer.recentTrophyCount"
                                                      (clickOnPseudo)="navigateToProfilePage(recentPlayer.player.id)"
                                                      class="home-player-card"/>
                            </ng-template>
                            <ng-template appSectionListContent>
                                @for (trophy of recentPlayer.lastObtainedTrophies; track trophy.id) {
                                    <app-home-trophy-card [trophy]="trophy" class="home-trophy-card"/>
                                }
                            </ng-template>
                        </app-section-list>
                    }
                }
            </ng-template>
        </app-trophyquest-block>
    </div>
</div>
