@use "styles/colors" as *;

.home-page {
  padding-top: 20px;
  padding-bottom: 50px;
}

.home-page-header {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.welcome-message {
  font-size: 32px;
  color: $blue-main;
  font-weight: bolder;
}

.home-summary {
  height: 90%;
}


.home-page-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.game-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-game-card {
  width: 100%;
}

.load-more {
  cursor: pointer;
  margin-top: 20px;
}

.last-obtained-trophies {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-trophy-card {
  width: 100%;
}
