@use "styles/colors" as *;

.home-page {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;

  .left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .right-column {
    width: 40%;
  }

  .block-header {
    color: $tq-blue-medium;
    font-size: 24px;
    font-weight: bold;
  }

  .home-summary {
    width: 80%;
  }

  .separator {
    color: $tq-blue-medium;
    margin: 2px;
  }

  .home-game-card {
    width: 100%;
  }

  .most-active-players {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}
