<div class="home-page container container-fluid">
    <div class="left-column">
        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">TrophyQuest</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (isLoadingSummary()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingSummary()) {
                    <app-error-message [errorMessage]="'Failed to load summary'"/>
                } @else {
                    <app-home-summary class="home-summary" [nbGames]="totalGames()"
                                      [nbPlayers]="totalPlayers()"
                                      [nbTrophies]="totalEarnedTrophies()"/>
                }
            </ng-template>
        </app-trophyquest-block>

        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">Most recent popular games</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (hasNoPopularGames()) {
                    <div class="no-popular-games">No popular games</div>
                } @else if (isLoadingGames()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingGames()) {
                    <app-error-message [errorMessage]="'Failed to load games'"/>
                } @else {
                    @for (game of popularGames(); track game.id) {
                        @if ($index !== 0) {
                            <hr class="separator"/>
                        }
                        <app-home-game-card [game]="game" (clickOnGameTitle)="navigateToGamePage(game.id)"
                                            class="home-game-card"/>
                    }
                }
            </ng-template>
        </app-trophyquest-block>
    </div>

    <div class="right-column">
        <app-trophyquest-block>
            <ng-template appBlockHeader>
                <span class="block-header">Top recent players</span>
            </ng-template>
            <ng-template appBlockContent>
                @if (hasNoRecentPlayers()) {
                    <div class="no-recent-players">No recent players</div>
                } @else if (isLoadingPlayers()) {
                    <mat-spinner/>
                } @else if (hasFailedLoadingPlayers()) {
                    <app-error-message [errorMessage]="'Failed to load players'"/>
                } @else {
                    <div class="most-active-players">
                        @for (recentPlayer of recentPlayers(); track recentPlayer.player.id) {
                            <app-section-list>
                                <ng-template appSectionListHeader>
                                    <app-home-player-card [player]="recentPlayer.player"
                                                          [trophyCount]="recentPlayer.recentTrophyCount"
                                                          (clickOnPseudo)="navigateToProfilePage(recentPlayer.player.id)"/>
                                </ng-template>
                                <ng-template appSectionListContent>
                                    @for (trophy of recentPlayer.lastObtainedTrophies; track trophy.id) {
                                        <app-home-trophy-card [trophy]="trophy" class="home-trophy-card"
                                                              (clickOnGameTitle)="navigateToPlayerGamePage(trophy.gameId, recentPlayer.player.id)"/>
                                    }
                                </ng-template>
                            </app-section-list>
                        }
                    </div>
                }
            </ng-template>
        </app-trophyquest-block>
    </div>
</div>
