<div class="home-page container container-fluid">
  <div class="home-page-header">
    <h1>Welcome on TrophyQuest</h1>
    <p>Content coming soon...</p>
  </div>

  <div class="home-page-content">
    <div class="game-list">
      <h2>List of games</h2>
      @for (game of gameListStore.results(); track game.id) {
        <app-home-game-card [game]="game" class="home-game-card"></app-home-game-card>
      }
      @if (gameListStore.hasMoreGames() && !gameListStore.isLoading()) {
        <a (click)="loadMoreGames()" class="button game-list-load-more">Load more games...</a>
      }
      @if (gameListStore.isLoading()) {
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      }
    </div>

    <div class="last-obtained-trophies">
      <h2>Last obtained trophies</h2>
      @for (trophy of lastObtainedTrophyStore.results(); track trophy.id) {
        <app-home-obtained-trophy-card [trophy]="trophy" class="home-trophy-card"></app-home-obtained-trophy-card>
      }
      @if (lastObtainedTrophyStore.hasMoreTrophies() && !lastObtainedTrophyStore.isLoading()) {
        <a (click)="loadMoreTrophies()" class="button trophy-list-load-more">Load more trophies...</a>
      }
      @if (lastObtainedTrophyStore.isLoading()) {
        <div class="spinner-container"></div>
      }
    </div>

  </div>
</div>
