.home-page {
  padding-top: 20px;
  padding-bottom: 50px;
}

.home-page-header {
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.home-page-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.game-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-game-card {
  width: 100%;
}

.game-list-load-more {
  cursor: pointer;
  margin-top: 20px;
}

