@if (isLoading()) {
    <div class="spinner-container">
        <mat-spinner/>
    </div>
} @else {
    <tq-block class="profile-summary">
        <ng-template tqBlockHeader>
            <div class="summary-header">
                <img [height]="100" [width]="100" alt="" class="avatar-image" ngSrc="{{player().avatar}}"/>
                <div class="player-pseudo">{{ player().pseudo }}</div>
            </div>
        </ng-template>
        <ng-template tqBlockContent>
            <div class="summary-content">
                <div class="counts">
                    <div class="summary-count">
                        <b>{{ playerStats().totalTrophySetsPlayed | number }}</b>
                        <span> played games</span>
                    </div>
                    <div class="summary-count">
                        <b>{{ totalEarnedTrophies() | number }}</b>
                        <span> earned trophies</span>
                    </div>
                </div>
                <tq-trophy-count-displayer [iconSizePx]="32" [labelOrientation]="'vertical'" [textSizePx]="14"
                                           [trophyCount]="trophyCountPerType()" class="trophy-count"/>
            </div>
        </ng-template>
    </tq-block>
}
