<div [class.completed]="isCompleted" [class.expanded]="isExpanded" class="profile-game-card" role="listitem">
  <div (click)="clickOnGameCard()"
       [attr.aria-expanded]="isExpanded"
       [attr.data-profilegamelistid]="'game-toggle-' + game.id"
       class="profile-game-header">
    <div class="profile-game-infos">
      <img [alt]="game.title" [height]="64" [ngSrc]="game.imageUrl" [width]="64"
           class="profile-game-image"/>
      <div class="profile-game-title">{{ game.title }}</div>
    </div>
    <app-trophy-count-displayer [iconSize]="32" [labelOrientation]="'horizontal'"
                                [textSizePx]="14" [trophyCount]="game.earnedTrophies"
                                class="profile-game-trophies"/>
  </div>

  @if (isExpanded) {
    <div [attr.data-profilegamelistid]="'game-details-' + game.id"
         [class.open]="isExpanded"
         class="profile-game-details">
      @for (collection of game.trophyCollections; track collection.id) {
        <div [attr.data-profilegamelistid]="'game-'+ game.id + '-collection-' + collection.id"
             class="profile-game-collection">
          <img [alt]="collection.title" [height]="32" [width]="32" class="collection-image"
               ngSrc="{{collection.imageUrl}}"/>
          <div (click)="clickOnCollection(collection.id)" class="collection-title-wrapper">
            <span class="collection-title">{{ collection.title }}</span>
            <span class="collection-platform">{{ collection.platform }}</span>
          </div>
        </div>
      }
    </div>
  }
</div>
