@use 'styles/colors' as *;

.profile-game-card {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $tq-blue-lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;

  &.completed {
    background-color: $green-light;
  }

  &:hover {
    box-shadow: 0 4px 8px $tq-shadow;
  }

  .game-infos {
    display: flex;
    align-items: center;
  }

  .collection-image {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
    border-radius: 5px;
  }

  .platform-and-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .profile-game-title {
    font-size: 15px;
    cursor: pointer;
  }

  .game-progression {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
  }

  .progress-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &.completed {
      color: $green-main;
    }
  }
}
