@use 'styles/colors' as *;

.collection-summary {
  display: flex;
  background-color: rgba($blue-main, 0.2);
  border-radius: 10px;
  padding: 30px;

  .game-image {
    max-width: 400px;
    justify-self: flex-start;
    border-radius: 10px;
    border: 3px solid $blue-main;
  }

  .summary-content {
    width: -webkit-fill-available;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .title-and-platform {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-platform {
    margin-left: 20px;
  }

  .game-title {
    color: $blue-main;
    font-size: 25px;
  }

  .trophy-count-wrapper {
    display: flex;
    justify-content: center;
  }
}
