@use 'styles/colors' as *;

.trophy-card {
  background-color: $tq-blue-lighter;

  &.completed {
    background-color: $green-light;
  }

  padding: 10px;
  border-radius: 0.75rem;
}

.trophy-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trophy-description-wrapper {
  display: flex;
  align-items: center;
}

.trophy-image {
  margin-right: 10px;
}

.hidden-trophy-image-wrapper {
  cursor: default;
  background-color: $tq-blue-lighter;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-trophy-image {
  color: $tq-blue-darker;
  font-size: 2rem;
  font-family: 'Arial', serif;
}

.trophy-title {
  font-weight: 600;
}

.trophy-description-text {
  font-style: italic;
}

.trophy-icon-wrapper {
  justify-self: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trophy-icon {
  position: relative;
  display: inline-block;
}

.trophy-check-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 25px;
  font-weight: 600;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: $green-main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trophy-earned-date {
  font-size: 0.6rem;
  color: rgb(0, 0, 0, 0.54);
}
