<div class="profile-game-list">
  <h4>Derniers jeux joués</h4>

  @for (game of gameList; track game.id; let i = $index) {
    <mat-card
      [class.completed]="isUserGameComplete(game)"
      [class.expanded]="isExpanded(game.id)"
      [style.animationDelay.ms]="300 + i * 80"
      animate.enter="game-element-enter"
      class="profile-game-card"
      role="listitem"
    >
      <button
        (click)="handleClickOnGameCard(game)"
        [attr.aria-expanded]="isExpanded(game.id)"
        [attr.data-profilegamelistid]="'game-toggle-' + game.id"
        class="profile-game-header"
        type="button"
      >
        <div class="profile-game-card-inner">
          <div class="profile-game-image-wrapper">
            <img [alt]="game.title" [height]="gameIconSize" [ngSrc]="game.imageUrl" [width]="gameIconSize"/>
          </div>

          <div class="profile-game-content">
            <div class="profile-game-title">{{ game.title }}</div>
            <app-trophy-count-displayer [iconSize]="trophyIconSize" [labelOrientation]="'horizontal'"
                                        [textSizePx]="14" [trophyCount]="game.earnedTrophies"
                                        class="profile-game-trophies"/>
          </div>
        </div>
      </button>

      @if (isExpanded(game.id)) {
        <div
          [attr.data-profilegamelistid]="'game-details-' + game.id"
          [class.open]="isExpanded(game.id)"
          class="profile-game-details"
        >
          @for (collection of game.trophyCollections; track collection.id) {
            <div
              [attr.data-profilegamelistid]="'game-'+ game.id + '-collection-details-' + collection.id"
              class="profile-game-collection">
              <img [alt]="collection.title" class="collection-image" src="{{collection.imageUrl}}"/>
              <div (click)="clickOnCollection(game.id, collection.id)" class="collection-title-wrapper">
                <span class="collection-title">{{ collection.title }}</span>
                <span class="collection-platform">{{ collection.platform }}</span>
              </div>
            </div>
          }
        </div>
      }
    </mat-card>
  }
</div>
