<div class="game-page">
  <div class="container">

    <div class="d-flex justify-content-end mb-2">
      <button [matMenuTriggerFor]="viewMenu" mat-button>
        Vue :
        @if (viewMode() === 'cards') {
          Cartes
        } @else {
          Liste
        }
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #viewMenu="matMenu">
        <button (click)="setView('cards')" mat-menu-item>
          <mat-icon>grid_view</mat-icon>
          <span>Cartes</span>
        </button>
        <button (click)="setView('list')" mat-menu-item>
          <mat-icon>view_list</mat-icon>
          <span>Liste</span>
        </button>
      </mat-menu>
    </div>

    @switch (viewMode()) {
      @case ('cards') {
        <app-game-cards [gameList]="gameStore.list()"></app-game-cards>
      }
      @case ('list') {
        <app-game-list [gameList]="gameStore.list()"></app-game-list>
      }
    }

    @if (this.gameStore.loadingStatus() === LoadingStatus.SUCCESS && this.gameStore.totalElements() === 0) {
      <p>There is no game in database...</p>
    }

    @if (this.gameStore.loadingStatus() === LoadingStatus.LOADING) {
      <div class="spinner-wrapper">
        <mat-spinner diameter="40" mode="indeterminate"/>
      </div>
    }
    @if (this.gameStore.loadingStatus() === LoadingStatus.ERROR) {
      <p>An error has occurred when fetching game list !</p>
    }

  </div>
</div>
