@use 'styles/colors' as *;

.trophy-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $tq-blue-lighter;
  padding: 10px;
  border-radius: 0.75rem;

  &.completed {
    background-color: $tq-green-lighter;
  }

  &.hidden {
    opacity: 0.5;
  }
}

.description-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trophy-icon {
  border-radius: 5px;
  border: 1.5px solid $tq-blue-medium;
}

.title-and-description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trophy-title {
  font-weight: 600;
}

.trophy-description {
  font-style: italic;
}

.earned-date-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px
}


.trophy-type-icon {
  position: relative;
  display: inline-block;
}

.trophy-check-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 25px;
  font-weight: 600;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: $tq-green-medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trophy-earned-date {
  font-size: 0.6rem;
  color: rgb(0, 0, 0, 0.54);
}
