@use 'styles/colors' as *;

.home-obtained-trophy-card {
  padding: 5px;
  margin: 2px;
  background-color: $tq-blue-lighter;
  border-radius: 5px;
}

.trophy-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trophy-main-info-wrapper {
  display: flex;
  align-items: center;
}

.trophy-title-and-game-title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trophy-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.game-title {
  font-size: 0.9rem;
  color: rgb(0, 0, 0, 0.54);
}

.earned-info-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trophy-earned-by {
  cursor: pointer;
  font-size: 1.1rem;
  color: $tq-blue-medium;
  display: flex;
  align-items: center;
}

.player-pseudo {
  margin-left: 5px;
  font-weight: 600;
}

.trophy-earned-date {
  font-size: 0.6rem;
  color: rgb(0, 0, 0, 0.54);
}
