<div class="home-page container container-fluid">
    <div class="left-column">
        <tq-home-stats class="home-stats" [status]="statsLoadingStatus()" [stats]="stats()"/>
        <tq-home-trophy-set-list class="home-trophy-set-list"
                                 [status]="trophySetsStatus()"
                                 [trophySets]="trophySets()"
                                 (clickOnTrophySet)="navigateToTrophySetPage($event)"/>
    </div>

    <div class="right-column">
        <tq-home-player-list class="home-player-list"
                             [status]="playersStatus()"
                             [players]="players()"
                             (clickOnPlayer)="navigateToProfilePage($event)"
                             (clickOnGame)="navigateToPlayerTrophySetPage($event.trophySetId, $event.playerId)"/>
    </div>
</div>
