@use "styles/colors" as *;

.home-page {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
}

.left-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.right-column {
  width: 40%;
}

.home-stats {
  width: 80%;
}

.home-trophy-set-list {
  width: 100%;
}
