@use 'styles/colors' as *;
@use '@angular/material' as mat;

.profile-game-card {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $tq-blue-lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;

  &.completed {
    background-color: $tq-green-lighter;
  }

  .game-block-start {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .game-image {
    max-width: 60px;
    max-height: 60px;
    object-fit: contain;
    border-radius: 5px;
  }

  .spinner-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;

    &.completed .spinner-center {
      font-weight: 600;
    }

    &.completed .progress-spinner {
      @include mat.progress-spinner-overrides((
              active-indicator-color: $tq-green-dark,
      ));
    }

    .spinner-center {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      font-size: 12px;
      line-height: 1;
      color: $tq-blue-light;
    }

    .check-icon {
      color: $tq-green-dark;
    }
  }

  .platform-and-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .profile-game-title {
    color: $tq-blue-medium;
    font-size: 15px;
  }

  .game-block-end {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .trophy-count {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trophy-count-value {
    color: $tq-blue-medium;
    font-size: 12px;
    font-weight: bold;
  }

}
