@use "styles/colors" as *;

.trophyquest-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  padding: 20px;
  width: 100%;

  border-radius: 10px;
  border: 2px solid $tq-blue-darker;
  background-color: $tq-blue-lighter;
}