@use "styles/colors" as *;

.game-page {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .game-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .game-summary {
    width: 100%;
  }

  .trophy-filters {
    width: 100%;
  }

  .game-group-name {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  app-game-trophy-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-message-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .error-message {
    color: $tq-red-dark;
    font-size: 25px;
    font-weight: bold;
  }

}
