@use 'styles/colors' as *;

.game-element-enter {
  animation-name: game-element-enter;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes game-element-enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-game-list {
  .profile-game-card {
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.15s ease;

    &.completed {
      background-color: $green-light;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 6px $blue-medium;
    }

    .profile-game-card-inner {
      display: flex;
      align-items: center;
    }

    .profile-game-image-wrapper {
      margin-right: 0.75rem;
      flex-shrink: 0;
    }

    .profile-game-image-wrapper img {
      border-radius: 4px;
      display: block;
    }

    .profile-game-content {
      display: flex;
      flex-direction: column;
      text-align: left;

      .profile-game-trophies {
        display: flex;
        align-items: center;
      }

      .trophy-count {
        font-weight: 600;
      }
    }

    .profile-game-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }
  }
}
