<div class="trophy-filters">
    <div class="trophy-filter">
        <mat-slide-toggle class="hidden-trophy-toggler" (toggleChange)="hiddenFilterChanges()"/>
        <span class="trophy-filter-label">Show hidden trophies</span>
    </div>

    @if (showEarnedTrophyFilter()) {
        <div class="trophy-filter">
            <span class="trophy-filter-label">Select trophy earned type</span>

            <mat-radio-group [value]="filters().earned" (change)="changeFilter($event.value)">
                <mat-radio-button value="all">All</mat-radio-button>
                <mat-radio-button value="earned">Earned</mat-radio-button>
                <mat-radio-button value="notEarned">Not earned</mat-radio-button>
            </mat-radio-group>
        </div>
    }
</div>