.game-card-enter {
  animation-name: game-card-enter;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes game-card-enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-page {
  overflow-y: auto;

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
}


