<div class="players-page container">
    <div class="players-content">
        @if (isLoadingPlayers()) {
            <mat-spinner/>
        } @else if (hasFailedLoadingPlayers()) {
            <app-error-message class="error-block"
                               (retry)="retrievePlayers()"
                               [hasRetryButton]="true" [errorMessage]="'Failed to load players'"/>
        } @else {
            @for (playerSummary of playerSummaries(); track playerSummary.player.id) {
                <app-player-card
                        (clickOnGame)="navigateToPlayerGamePage(playerSummary.lastPlayedGameId, playerSummary.player.id)"
                        (clickOnPseudo)="navigateToProfilePage(playerSummary.player.id)"
                        [playerSummary]="playerSummary"
                        class="player-card"></app-player-card>
            }

            @if (hasMorePlayersToLoad()) {
                <div (click)="loadMorePlayers()" class="load-more-button">
                    Load more players...
                </div>
            }
        }
    </div>
</div>
