@use 'styles/colors' as *;

.players-page {
  .players-content {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    width: 100%;
    margin: 10px;
  }

  .load-more-button {
    margin-top: 20px;
    font-size: 15px;
    color: $tq-blue-medium;
    cursor: pointer;
  }

  .error-block {
    width: 50%;
  }
}
