@use 'styles/colors' as *;

.players-page {
  padding-bottom: 50px;
}

.players-header {
  background-color: rgba($blue-main, 0.03);
  height: 500px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.players-content {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-card {
  width: 100%;
  margin: 10px;
}

.load-more-button {
  margin-top: 20px;
  font-size: 15px;
  color: $blue-main;
  cursor: pointer;
}

.error-message-wrapper {
  margin-top: 20px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100px;
  font-size: 30px;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(red, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-message {
  color: rgba(red, 0.8);
}
