@use "styles/colors" as *;

.profile-page {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.error-message {
  width: 40%;
}

.summary {
  width: 70%;
}

.games-trophies-wrapper {
  width: 100%;
  display: flex;
  gap: 50px;
}

.game-list {
  width: 60%;
}

.trophy-list {
  width: 40%;
}
