<div class="players-page container container-fluid">
    <tq-add-player-form [status]="addPlayerStatus()"
                        (refreshPlayers)="retrievePlayers()"
                        (addPlayer)="addPlayer($event)"/>

    <tq-player-list [status]="playerListStatus()"
                    [players]="players()"
                    [total]="totalPlayers()"
                    (retrievePlayers)="retrievePlayers()"
                    (loadMorePlayers)="loadMorePlayers()"
                    (clickOnPlayer)="navigateToProfilePage($event)"
                    (clickOnGame)="navigateToPlayerGamePage($event.gameId, $event.playerId)"/>
</div>
