<tq-block class="profile-trophies-list">
    <ng-template tqBlockHeader>
        <span class="title">Last earned trophies</span>
    </ng-template>
    <ng-template tqBlockContent>
        <div class="trophy-list">
            @for (trophy of trophies(); track trophy.id; let i = $index) {
                @if (i !== 0) {
                    <hr class="separator"/>
                }
                <tq-profile-trophy-card [trophy]="trophy" class="profile-trophy-card"/>
            }
            @if (isLoading()) {
                <div class="spinner-container">
                    <mat-spinner/>
                </div>
            }
            @if (hasMoreTrophiesToLoad()) {
                <a (click)="loadMoreTrophies.emit()" class="load-more-button">Load more trophies...</a>
            }
        </div>
    </ng-template>
</tq-block>