@if (isLoading()) {
    <div class="spinner-container">
        <mat-spinner/>
    </div>
} @else if (hasFailed()) {
    <tq-error-message [errorMessage]="'Failed to load trophy sets'"/>
} @else if (hasNoResults()) {
    <div class="no-results">No results</div>
} @else {
    <div class="trophy-set-list">
        @for (element of trophySetList(); track element.trophySet.id) {
            @if ($index !== 0) {
                <hr class="separator"/>
            }
            <tq-validation-element [trophySet]="element"
                                   [validationStatus]="validationStatus()"
                                   (allRejected)="rejectAllCandidates(element.trophySet.id)"
                                   (candidateAccepted)="acceptCandidate(element.trophySet.id, $event)"/>
        }
    </div>
}