@use "styles/colors" as *;

.profile-trophy-card {
  cursor: pointer;

  .trophy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .trophy-info {
    display: flex;
    align-items: center;
  }

  .trophy-image {
    border-radius: 5px;
  }

  .trophy-title-and-game-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .trophy-title {
    font-weight: 600;
    font-size: 14px;
  }

  .trophy-game-title {
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.54);
  }

  .trophy-earned-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trophy-earned-date {
    font-size: 0.6rem;
    color: rgb(0, 0, 0, 0.54);
  }

}