<mat-card class="profile-card">
  <div class="profile-header">
    <img [height]="100" [width]="100" alt="" class="avatar-image" ngSrc="{{player.avatarUrl}}"/>
    <div class="profile-name">
      {{ player.pseudo }}
    </div>
  </div>

  <div class="game-trophies-summary">
    <div class="total-played-games">{{ totalPlayedGames }} played games</div>
    <app-trophy-count-displayer [iconSize]="50" [labelOrientation]="'vertical'" [textSizePx]="18"
                                [trophyCount]="trophyCount" class="trophy-count"/>
  </div>
</mat-card>
