<mat-card class="profile-card">
  <div class="profile-header">
    <div class="avatar-wrapper">
      <img [src]="profile?.avatarUrl" alt="Avatar"/>
    </div>

    <div class="profile-name">
      {{ profile?.pseudo || 'Nom du Profil' }}
    </div>
  </div>

  <div class="trophy-summary">
    <div class="trophy-summary-title">
      Résumé des trophées
    </div>
    <app-trophy-count-displayer [iconSize]="50" [labelOrientation]="'vertical'" [textSizePx]="18"
                                [trophyCount]="trophyCount"/>
  </div>
</mat-card>
