@use "styles/colors" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-block {
  margin-top: 20px;
  width: 50%
}

.candidate-list-block {
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $tq-blue-medium;
}