@use "styles/colors" as *;

.trophy-set-to-validate {
  display: flex;
  align-items: center;
  gap: 30px;
}

.trophy-set {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.trophy-set-description {
  display: flex;
  gap: 10px;
  align-items: center;
}

.trophy-set-title {
  font-size: 20px;
  color: $tq-blue-medium;
}

.trophy-set-image {
  border-radius: 5px;
  max-width: 250px;
}

.candidate-list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;

  .title {
    font-size: 20px;
    color: $tq-blue-medium;
  }
}

.candidate-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

tq-validation-candidate {
  max-width: 30%;
}