<div class="trophy-set-to-validate">
    <div class="trophy-set">
        <div class="trophy-set-description">
            <div class="trophy-set-title">{{ trophySet().trophySet.title }}</div>
            <tq-platform-label [platform]="trophySet().trophySet.platform"/>
        </div>
        <img class="trophy-set-image" src="{{trophySet().trophySet.image}}" alt=""/>
    </div>
    <div class="candidate-list-block">
        <span class="title">Mapping candidates</span>
        <div class="candidate-list">
            @for (candidate of sortedCandidates(); track candidate.id) {
                <tq-validation-candidate [candidate]="candidate"
                                         [validationStatus]="validationStatus()"
                                         (candidateAccepted)="acceptCandidate($event)"/>
            }
        </div>
        <div class="reject-button-container">
            <button mat-raised-button color="error" [disabled]="isRejectButtonDisabled()" (click)="rejectMapping()">
                Reject all
            </button>
        </div>
    </div>
</div>