<div class="trophy-filters">
  <div class="trophy-filter">
    <mat-slide-toggle (toggleChange)="hiddenFilterChanges()"></mat-slide-toggle>
    <span class="trophy-filter-label">Show hidden trophies</span>
  </div>

  <div class="trophy-filter">
    <mat-radio-group (change)="earnedFilterChanges()" [(ngModel)]="wantedTrophyEarnedType">
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button value="earned">Earned</mat-radio-button>
      <mat-radio-button value="unearned">Not earned</mat-radio-button>
    </mat-radio-group>
    <span class="trophy-filter-label">Select trophy earned type</span>
  </div>
</div>
