
.profile-collection-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.profile-game-list {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-title {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.profile-game-card {
  width: 100%;
}

.game-separator {
  color: rgba(0, 0, 0, 0.54);
  margin: 2px;
  width: 95%;
}

.trophy-separator {
  color: rgba(0, 0, 0, 0.54);
  margin: 2px;
  width: 95%;
}

.profile-trophies-list {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-trophy-card {
  width: 100%;
}

.load-more-button {
  padding: 20px;
  cursor: pointer;
}

.no-trophies-message {
  font-size: 18px;
}

.error-message {
  color: rgba(red, 0.8);
  font-size: 25px;
}
