@use "styles/colors" as *;

.profile-page {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .error-message {
    width: 40%;
  }

  .summary {
    width: 70%;
  }

  .profile-game-trophies-wrapper {
    width: 100%;
    display: flex;
    gap: 50px;
  }

  .profile-game-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: $tq-blue-medium;
  }

  .profile-game-card {
    width: 100%;
  }

  .separator {
    color: $tq-blue-medium;
    margin: 2px;
    width: 95%;
  }

  .profile-trophies-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-trophy-card {
    width: 100%;
  }

  .load-more-button {
    padding: 20px;
    cursor: pointer;
  }
}
