@use "styles/colors" as *;

.profile-game-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: $tq-blue-medium;
}

.separator {
  color: $tq-blue-medium;
  margin: 3px;
  width: 95%;
}

.game-card {
  width: 100%;
}

.load-more-button {
  margin-top: 20px;
  cursor: pointer;
}