<tq-block>
    <ng-template tqBlockHeader>
        <span class="title">Last played games</span>
    </ng-template>
    <ng-template tqBlockContent>
        <div class="profile-game-list">
            @for (game of games(); track game.id; let i = $index) {
                @if (i !== 0) {
                    <hr class="separator"/>
                }
                <tq-profile-game-card class="game-card"
                                      (clickOnTitle)="clickOnGame.emit(game.id)"
                                      [game]="game"/>
            }
            @if (isLoading()) {
                <div class="spinner-container">
                    <mat-spinner/>
                </div>
            }
            @if (hasMoreGamesToLoad()) {
                <a (click)="loadMoreGames.emit()" class="load-more-button tq-link">Load more games...</a>
            }
        </div>
    </ng-template>
</tq-block>