<div class="game-page container container-fluid">
  <div [style.animationDelay.ms]="100" animate.enter="block-enter" class="game-header">
    <app-game-summary [game]="gameStore.game()" class="game-summary"/>
    <app-trophy-filters (showHiddenTrophies)="showHiddenTrophies($event)"
                        (trophyEarnedFilterChanged)="changeTrophyEarnedType($event)"
                        [initEarnedFilter]="gameStore.earnedFilter()"
                        class="trophy-filters"/>
  </div>

  <div [style.animationDelay.ms]="200" animate.enter="block-enter" class="group-list">
    @for (trophy of gameStore.baseGameTrophies(); track trophy.id; let i = $index) {
      <div class="trophy-list">
        @if (i !== 0) {
          <hr class="trophy-separator"/>
        }
        <app-trophy-card [showHiddenTrophies]="shouldShowHiddenTrophies" [trophy]="trophy"
                         class="game-page-trophy-card"/>
      </div>
    }
    @for (groupTrophy of gameStore.dlcTrophies(); track groupTrophy.groupName; let j = $index) {
      @if (groupTrophy.trophies.length > 0) {
        <div class="trophy-list">
          <h2 class="game-group-name">DLC Trophy Pack {{ j + 1 }}</h2>
          @for (trophy of groupTrophy.trophies; track trophy.id; let i = $index) {
            @if (i !== 0) {
              <hr class="trophy-separator"/>
            }
            <app-trophy-card [trophy]="trophy" class="game-page-trophy-card"/>
          }
        </div>
      }
    }
  </div>
</div>
