.home-game-card {
  padding: 5px;
  margin: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}

.title-image-wrapper {
  display: flex;
  align-items: center;

  .game-title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}
