@use "styles/colors" as *;

.home-game-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: $tq-blue-lighter;
  border-radius: 10px;
  min-height: 50px;

  .game-infos {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px
  }

  .game-image {
    border-radius: 5px;
    max-width: 50px;
  }

  .game-title {
    color: $tq-blue-medium;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
}

