@use "styles/colors" as *;

.home-game-card {
  padding: 5px;
  margin: 1px;
  background-color: $tq-blue-lighter;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.title-image-wrapper {
  display: flex;
  align-items: center;

  .game-title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}
