<app-trophyquest-block>
    <ng-template appBlockHeader>
        <span class="title">Top recent players</span>
    </ng-template>
    <ng-template appBlockContent>
        @if (hasNoRecentPlayers()) {
            <div class="no-recent-players">No recent players</div>
        } @else if (isLoadingPlayers()) {
            <mat-spinner/>
        } @else if (hasFailedLoadingPlayers()) {
            <app-error-message [errorMessage]="'Failed to load players'"/>
        } @else {
            <div class="most-active-players">
                @for (recentPlayer of players(); track recentPlayer.player.id) {
                    <app-section-list>
                        <ng-template appSectionListHeader>
                            <app-home-player-card [player]="recentPlayer.player"
                                                  [trophyCount]="recentPlayer.recentTrophyCount"
                                                  (clickOnPseudo)="clickOnPlayer.emit(recentPlayer.player.id)"/>
                        </ng-template>
                        <ng-template appSectionListContent>
                            @for (trophy of recentPlayer.lastObtainedTrophies; track trophy.id) {
                                <app-home-trophy-card [trophy]="trophy" class="home-trophy-card"
                                                      (clickOnGameTitle)="clickOnGame.emit({gameId: trophy.gameId, playerId: recentPlayer.player.id})"/>
                            }
                        </ng-template>
                    </app-section-list>
                }
            </div>
        }
    </ng-template>
</app-trophyquest-block>