@use "styles/colors" as *;

.group-trophy-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-card {
  width: 100%;
}

.trophy-separator {
  color: $tq-blue-medium;
  margin: 5px;
  width: 95%;
}